<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://weather-bucket-mine.s3.us-east-1.amazonaws.com/external.css">
    <link rel="icon" type="image/x-icon" href="https://weather-bucket-mine.s3.us-east-1.amazonaws.com/images/weather.png">
    <script>
        function changeDay(dayIndex) {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('day', dayIndex);
            window.location.search = urlParams.toString();
        }

        function changeCity(cityIndex) {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('city', cityIndex);
            window.location.search = urlParams.toString();
        }
    </script>
</head>
<body>
    <div class="content-wrapper">
        <div class="weather_display" style="background-image: url('{{ bg_image }}');">
            
            <div class="main-info">
                <div class="city-info">
                    <p style="margin-bottom: 20px;">{{ city }}</p>
                    <h1 style="font-size: 200%;">{{ current_hour_temp }}</h1>
                    <p style="margin-bottom: 30px;">{{ current_hour_feels }}</p>
                    <p style="margin-bottom: 30px;">{{ current_weather_status }}</p>
                    <p style="margin-bottom: 60px;">H: {{ min_temp[selected_day] }}°C | L: {{ max_temp[selected_day] }}°C</p>
                    <p>{%if selected_day == 0%}Today - {%endif%}{{ main_weekday }} - {{formatted_dates[selected_day]}}</p>
                </div>
            </div>
            <div class="wrapper" style="margin-bottom:20px;">
                {% for entry in hourly_temp %}
                    <div class="item {% if entry.is_now %}now{% endif %}">
                        <h2>{{ entry.hours }}</h2>
                        <img src="{{ entry.logos }}" alt="weather icon">
                        <p>Temp: {{ entry.temperature }}°C</p>
                    </div>
                {% endfor %}
            </div>
            {% for i in range(7) %}
                <div class="following_days" onclick="changeDay({{ i }});">
                    <p style="float:left; margin-left:10px;">{{ weekday_list[i] }} - {{ formatted_dates[i] }}</p>
                    <p style="float:right; margin-right:10px;">| High of {{ max_temp[i] }}°C</p>
                    <p style="float:right;">Low of {{ min_temp[i] }}°C |</p>
                </div>
            {% endfor %}
        </div>
        <div class="city" style="background-image: url('https://weather-bucket-mine.s3.us-east-1.amazonaws.com/images/brampton.jpg');" onclick="changeCity(0)">Brampton</div>
        <div class="city" style="background-image: url('https://weather-bucket-mine.s3.us-east-1.amazonaws.com/images/guelph.jpg');" onclick="changeCity(1)">Guelph</div>
        <div class="city" style="background-image: url('https://weather-bucket-mine.s3.us-east-1.amazonaws.com/images/mississauga.png');" onclick="changeCity(2)">Mississauga</div>
        <div class="city" style="background-image: url('https://weather-bucket-mine.s3.us-east-1.amazonaws.com/images/niagara.jpg');" onclick="changeCity(3)">Niagara Falls</div>
        <div class="city" style="background-image: url('https://weather-bucket-mine.s3.us-east-1.amazonaws.com/images/oakville.jpg');" onclick="changeCity(4)">Oakville</div>
        <div class="city" style="background-image: url('https://weather-bucket-mine.s3.us-east-1.amazonaws.com/images/ottawa.jpg');" onclick="changeCity(5)">Ottawa</div>
        <div class="city" style="background-image: url('https://weather-bucket-mine.s3.us-east-1.amazonaws.com/images/toronto.jpg');" onclick="changeCity(6)">Toronto</div>
        <div class="city" style="background-image: url('https://weather-bucket-mine.s3.us-east-1.amazonaws.com/images/waterloo.jpg');" onclick="changeCity(7)">Waterloo</div>
    </div>
    <footer>
        <p>Created by Kneepads2</p>
    </footer>
</body>
</html>
